
<<<<<<< 2-add-site-styling
p {
  font-size: 1.4em;
  margin: 15px 0;
  padding: 3px;
  color: #ccc;
}
body {
  background: #333;
  color: #ccc;
  font-size: 2em;
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
   background: #333;
   color: #eee;
   font-size: 2em;
>>>>>>> main
}